{% extends 'templates/app.twig' %}

{% block content %}
{% include 'templates/partials/side-nav.twig' %}
<section class="forms">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="card">
					
					<div class="card-header">
						<h3 class="h4">Discovery Settings</h3>
					</div>

					<div class="card-body">
						<form class="form-horizontal mt-4" action="{{ path_for('user.search.discovery_settings') }}" method="post">

							<div class="form-group row">
								<div class="container">
									<div class="row">
										<div class="col-sm-12">
											<label class="mb-4">Maximum distance</label>
										  <div id="slider-distance"></div>
										</div>
								  </div>
								  <div class="row slider-labels">
										<div class="col-sm-6 mt-2">
										  <span id="value-distanse"></span> km
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<input type="hidden" name="max-distanse">
										</div>
								  </div>
								</div>
							</div>

							<!-- <div class="line"></div> -->

							<div class="form-group row">
								<div class="container">
									<div class="row">
										<div class="col-sm-12">
											<label class="mb-4">Age Range</label>
										  <div id="slider-age-gap"></div>
										</div>
								  </div>
								  <div class="row slider-labels">
										<div class="col-sm-6 mt-3">
										  <span id="value-age-min"></span>
										</div>
										<div class="col-sm-6 text-right mt-3">
										  <span id="value-age-max"></span>
										</div>
								  </div>
								  <div class="row">
										<div class="col-sm-12">
											<input type="hidden" name="min-age">
											<input type="hidden" name="max-age">
										</div>
								  </div>
								</div>
							</div>

							<!-- <div class="line"></div> -->

							<div class="form-group row">
								<div class="container">
									<div class="row">
										<div class="col-sm-12">
											<label class="mb-4">Fame Rating Range</label>
										  <div id="slider-rating-gap"></div>
										</div>
								  </div>
								  <div class="row slider-labels">
										<div class="col-sm-6 mt-3">
										  <span id="value-rating-min"></span>
										</div>
										<div class="col-sm-6 text-right mt-3">
										  <span id="value-rating-max"></span>
										</div>
								  </div>
								  <div class="row">
										<div class="col-sm-12">
											<input type="hidden" value="12" name="min-rating">
											<input type="hidden" value="123" name="max-rating">
										</div>
								  </div>
								</div>
							</div>

							<div class="line"></div>

							<div class="form-group row">
								<div class="container">
									<label class="mb-4">Looking for:</label>
								<select name="looking_for" class="form-control mb-3">
								  <option value="man" {{settings.looking_for == 'man' ? 'selected':'' }}>man</option>
								  <option value="woman" {{settings.looking_for == 'woman' ? 'selected':'' }}>woman</option>
								  <option value="both" {{settings.looking_for == 'both' ? 'selected':'' }}>man and woman</option>
								</select>
								</div>
							</div>
							<!-- <div class="line"></div> -->

							<div class="form-group">
								<label class="mb-4">Filter By Interests:</label>
								<select multiple="" class="form-control" data-placeholder="Add interests">
									{% for interest in allInterests %}
										<option {% if interest in interests %} {{'selected'}} {% endif %} value="{{ interest }}">{{ interest }}</option>
									{% endfor %}
								</select>
							</div>

							<div class="line"></div>

							<div class="form-group row">
								<div class="col-md-12 text-center">
									<a class="link-button" href="#" onclick="getLocation()">Manage my location</a>
									<div id="mapholder" style="height: 400px; display: none;"></div>
								</div>
							</div>

							<div class="line"></div>

							<div class="form-group row">
								<div class="col-md-12 text-center">
									<button type="submit" class="btn btn-primary">Save settings</button>
								</div>
							</div>
							{{ csrf.field | raw }}{# raw скроет строку #}

						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<script>
	var userSettings = {{ settings | json_encode | raw}};
</script>

<script src="{{ base_url() }}/vendor/wnumb-1.1.0/wNumb.js"></script>
<script src="{{ base_url() }}/vendor/noUiSlider-12.0.0/distribute/nouislider.min.js"></script>
<script src="{{ base_url() }}/js/sliders.js"></script>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTSjAlFbeIMeUWSOLtbaEooLPfAo8GW2s&libraries=places&callback=initMap" async defer></script> -->
{% include 'templates/partials/footer.twig' %}
{% endblock %}
