
{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="home">
                <div class="panel panel-default">
                    <div class="panel-heading">Info profile</div>
                    <div class="panel-body">
                        <form action="{{ path_for('user.edit.info') }}" method="post" autocomplete="off">
                            <div class="form-group{{ errors.gender ? ' has-error' : '' }}">
                                <label for="gender">Gender</label>
                                <input type="radio" name="gender" class="form-control" value="man">Man
                                <input type="radio" name="gender" class="form-control" value="woman">Woman
                            </div>

                            <div class="form-group{{ errors.describe ? ' has-error' : '' }}">
                                <label for="aboutme">About me</label>
                                <textarea name="aboutme" cols="72" rows="10"></textarea>
                            </div>

                            <div class="form-group{{ errors.sexualPref ? ' has-error' : '' }}">
                                <label for="sexualPref">Sexual preference</label>
                                <input type="radio" name="sexualPref" class="form-control" value="Man">Man
                                <input type="radio" name="sexualPref" class="form-control" value="Woman">Woman
                                <input type="radio" name="sexualPref" class="form-control" value="Bi">Bi
                            </div>

                            <div class="form-group{{ errors.biography ? ' has-error' : '' }}">
                                <label for="biography">Biography</label>
                                <textarea  name="biography" cols="72" rows="10"></textarea>
                            </div>

                            <div class="form-group{{ errors.listOfInterests ? ' has-error' : '' }}">
                                <label for="listOfInterests">List of interests</label>
                                <input type="checkbox" name="listOfInterests" class="form-control" value="Traveling">Traveling
                                <input type="checkbox" name="listOfInterests" class="form-control" value="Shopping">Shopping
                                <input type="checkbox" name="listOfInterests" class="form-control" value="Driving">Driving
                            </div>

                            <button type="submit" class="btn btn-default">Change profile</button>
                            {{ csrf.field | raw }}{# raw скроет строку #}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}